{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en" xml:lang="en">
  <head>
    <title>Enter Data</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    />
  </head>
  <body>
    {% include "header.html" %}
    <div style="margin: auto; padding: 1em; width: 75%">
      <h1 class="title is-4">Enter Data</h1>
      <p class="subtitle">Please fill out the form below to enter your data:</p>
      <form method="post">{% csrf_token %} {% crispy form %}</form>
    </div>
    {% include "footer.html" %}
  </body>
</html>
